{% extends "base.html" %}

{% block page_title %}
  <h2 class="glitch-text" data-text="{{ post.title }}">{{ post.title }}</h2>
{% endblock page_title %}

{% block page_content %}
  <div class="post-container">
    <small class="post-meta">
      <span class="date">Clocking in at: {{ post.created_on.date }}</span> |
      <span class="categories">
        Deep Dive into:
        {% for category in post.categories.all %}
          <a href="{% url 'blog_category' category.name %}" class="category-link">{{ category.name }}</a>
        {% endfor %}
      </span>
    </small>
    <p class="post-body">{{ post.body | linebreaks }}</p>
  </div>

  <div class="comment-section">
    <h3 class="comment-header">Splice your thoughts here, choomba:</h3>
    <form method="post" class="comment-form">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_author">Handle:</label>
        {{ form.author }}
      </div>
      <div class="form-group">
        <label for="id_body">Broadcast your message:</label>
        {{ form.body }}
      </div>
      <button type="submit" class="btn btn-primary btn-submit">Jack In</button>
    </form>

    <h3 class="comment-header">Datastreams:</h3>
    {% for comment in comments %}
      <div class="comment">
        <p class="comment-meta">
          Pinged on {{ comment.created_on.date }} by <b>{{ comment.author }}</b>
        </p>
        <p class="comment-body">{{ comment.body | linebreaks }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock page_content %}
